@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0; /* espaçamento externo */
    padding: 0; /* espaçamento interno */
    box-sizing: border-box; 
}
/* * asterísco significa TUDO, ele vai aplicar esse estilo para tudo */

html {
    scroll-snap-type: y mandatory;
}

video, .img-tesla {
     width: 100%; /* LARGURA */
     height: 100%; /* ALTURA */
     position: absolute; /* POSICIONAR O ITEM NUMA POSIÇÃO EXATA QUE EU DESEJAR */
     top: 0;
     left: 0;
     z-index: -1; /* DEFINE QUEM FICA NA FRENTE DE QUEM */
     object-fit: cover;/* FAZ COM QUE O VIDEO CUBRA TODA A TELA  */
     filter: brightness(60%);
}
 
.logo {
    filter: brightness(100);
    position: fixed;
    width: 120px;
}

.item {
    display: flex; /* HABILITA ALGUMAS PROPRIEDADES CSS */

    justify-content: space-between; /* CRIA UM ESPAÇAMENTO ENTRE OS ITENS */
    flex-direction: column; /* DEIXAR UM ITEM DEBAIXO DO OUTRO */

    position: relative;
    height: 100vh; /* TELA TODA - ALTURA */
    width: 100vw; /* TELA TODA - LARGURA */
    scroll-snap-align: start;
}

h1 {
    color: white;
    font-size: 50px;
}

.sub-titulo {
    color: white;
}

.info-carro {
    margin-top: 80px;
    text-align: center;
}

.rodape {
    text-align: center; /* ALINHA MEU ITEM AO CENTRO */
}

button {
    background-color: rgba(34, 34, 34, 0.8);
    color: white;
    padding: 7px 80px;
    border-radius: 5px; /* ARREDONDA A BORDA DO BOTÃO */
    border: none; /* TIRA A BORDA DO BOTÃO */
    cursor: pointer; /* COLOCA A MÃOSINHA NO LUGAR DO MOUSE */
}

.test-drive {
    color: black;
    background-color: white;
}

.texto-rodape {
    color: white;
    font-size: 12px; /* TAMANHO DO TEXTO */
    margin-top: 10px;
}

.formulario {
    position: fixed;
    top: 40px;
    width: 600px;
    height: 100%;
    z-index: 3;
    left: -50%;
    transition: 1.5s;
}